*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 65.5%;
}
body{
    background: linear-gradient(287.56deg, #70ebe1 2%, #A1C4FD 50%);
    place-items: center;
    display: grid;
    height: 100vh;

}
body,button,input{
    font-family: "DM Sans", sans-serif;
}
main{
    background: white;
    box-shadow: 0px .2rem .4rem rgb(0, 0, 0, 0.1);
    border-radius: .6rem ;
    padding: 4.8rem 6.4rem 6.4rem ;
    width: min(42.8rem, 90%);
    margin-top: -12rem;
}
h1{
    font-family: "Montserrat",sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}
h1,p{
    color: #34355B ;
}
p{
    opacity: .8;
}
form{
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}
input,button{
    border: none;
    padding: 1.6rem;
}
input{
    background-color: #DCE2E9;
    width: 4.3rem;
    border-radius: .4rem .4rem 0 0;
}
button{
    background-color: #7879F1;
    color: white;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0 ;
}